Student performance indicator

Lifecycle of ML project
1. Understanding problem statement
2. Data collection
3. Data checks to perform
4. EDA
5. Data preprocessing
6. Model training
7. Choose best model

1. Problem statement<br>
This project explains how students performance is affected by various factors.

2. Data collection<br>
data consists of 8 col and 1000 rows

2.1 Import data and packages

In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [25]:
df=pd.read_csv('data/stud.csv')

In [26]:
df.sample(5)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
392,male,group E,some college,standard,none,76,67,67
425,female,group C,some college,free/reduced,none,62,67,62
499,male,group E,some college,standard,none,76,71,72
97,female,group E,some college,standard,completed,63,72,70
224,female,group B,associate's degree,standard,completed,52,66,73

2.2 Dataset information

The dataset contains several columns, including:<br>

Gender<br>
Race/Ethnicity<br>
Parental Level of Education<br>
Lunch<br>
Test Preparation Course<br>
Math Score<br>
Reading Score<br>
Writing Score<br>

3. Data checks to perform
(a). check missing values
(b). check duplicates
(c). check data type
(d). check unique values of each coloumn
(e). check statistics of data
(f). check categories of data

In [29]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [35]:
df.duplicated().sum()

0

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [41]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [42]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [47]:
print("Categories in gender are {}".format(df['gender'].unique()))
print("Categories in race_ethnicity are {}".format(df['race_ethnicity'].unique()))
print("Categories in parental_level_of_education are {}".format(df['parental_level_of_education'].unique()))
print("Categories in lunch  are {}".format(df['lunch'].unique()))
print("Categories in test_preparation_course  are {}".format(df['test_preparation_course'].unique()))

Categories in gender are ['female' 'male']
Categories in race_ethnicity are ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in parental_level_of_education are ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in lunch  are ['standard' 'free/reduced']
Categories in test_preparation_course  are ['none' 'completed']